footer {
    border-top: 1px solid #eee;
    padding-top: 80px;
}

footer h4 {
    font-size: 20px;
    font-weight: 700;
    color: #8d99af;
    margin-bottom: 30px;
}

footer p,
footer a {
    color: #2a2a2a;
}

footer .logo img {
    max-width: 163px;
    margin-bottom: 30px;
}

footer .helpful-links {
    margin: 0px 45px;
}

footer .helpful-links ul li {
    display: block;
    margin-bottom: 15px;
}

footer .helpful-links ul li a {
    font-size: 15px;
    transition: all .3s;
}

footer .helpful-links ul li a:hover {
    color: #8d99af;
}

footer .contact-us p {
    margin-bottom: 25px;
}

footer .contact-us a {
    transition: all .3s;
}

footer .contact-us a:hover {
    color: #8d99af;
}

footer .sub-footer {
    text-align: center;
    margin-top: 40px;
    padding: 40px 0px;
    border-top: 1px solid #eee;
}

@media (max-width: 992px) {
    footer {
        padding-top: 70px;
        text-align: center;
    }

    footer .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    footer .col-lg-4 {
        width: 50%;
        margin-bottom: 40px;
    }

    footer .about {
        display: block;
        text-align: center;
    }

    footer .logo {
        display: block;
        text-align: center;
        margin-bottom: 15px;
    }

    footer .logo img {
        display: inline-block;
        max-width: 170px;
        height: auto;
    }

    footer .helpful-links {
        margin: 0;
    }

    footer .helpful-links .row {
        justify-content: center;
    }

    footer .contact-us .row {
        justify-content: center;
    }

    footer .contact-us a {
        display: block;
    }
}

@media (max-width: 768px) {
    footer {
        padding-top: 70px;
        padding-bottom: 30px;
    }

    footer .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    footer .col-lg-4 {
        width: 50%;
        margin-bottom: 30px;
    }

    footer .about {
        display: block;
        text-align: center;
    }

    footer .logo {
        display: block;
        text-align: center;
        margin-bottom: 15px;
    }

    footer .logo img {
        display: inline-block;
        max-width: 170px;
        height: auto;
    }

    footer h4 {
        font-size: 18px;
    }

    footer p,
    footer a {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    footer .col-lg-4 {
        width: 100%;
        margin-bottom: 25px;
    }

    footer .about {
        display: block;
        text-align: center;
    }

    footer .logo {
        display: block;
        text-align: center;
        margin-bottom: 15px;
    }

    footer .logo img {
        display: inline-block;
        max-width: 170px;
        height: auto;
    }

    footer h4 {
        font-size: 16px;
    }

    footer p,
    footer a {
        font-size: 13px;
    }

    footer .sub-footer {
        padding: 20px 0;
        font-size: 13px;
    }
}