recent-listing {
  margin-top: 120px;
  padding-top: 120px;
  margin-bottom: 120px;
  border-top: 1px solid #eee;
}

.recent-listing .section-heading {
  text-align: center;
  margin-bottom: 80px;
}

.recent-listing .item .listing-item {
  display: inline-flex;
  background-color: #f7f7f7;
  border-radius: 7px;
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.recent-listing .item {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 1.5em;
  height: 36.5em;
}

.recent-listing .item .left-image {
  width: 50em;
  height: 36.5em;
  overflow: hidden;
  border-top-left-radius: 0.44em;
  border-bottom-left-radius: 0.44em;
  flex-shrink: 0;
  position: relative;
}

.recent-listing .item .left-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 0.44em;
  border-bottom-left-radius: 0.44em;
  display: block;
}

.recent-listing .item .right-content {
  display: inline-block;
  padding: 60px;
}

.recent-listing .item .right-content ul.rate {
  position: absolute;
  right: 60px;
  top: 60px;
}

.recent-listing .item .right-content ul.rate li {
  display: inline-block;
}

.recent-listing .item .right-content ul.rate li:last-child {
  margin-left: 10px;
}

.recent-listing .item .right-content ul.rate,
.listing-page .item .right-content ul.rate {
  color: #444;
}

.recent-listing .item .right-content ul.rate li i {
  color: #f5a623;
}

.recent-listing .item .right-content h4 {
  font-size: 20px;
  color: #2a2a2a;
  font-weight: 700;
  margin-bottom: 20px;
}

.recent-listing .item .right-content h6 {
  font-size: 15px;
  font-weight: 500;
  color: #8d99af;
}

.recent-listing .item .right-content span.price {
  color: #2a2a2a;
  font-size: 15px;
  margin-top: 30px;
  display: block;
  margin-bottom: 15px;
}

.recent-listing .item .right-content span.price .icon {
  width: 30px;
  height: 30px;
  background-color: #8d99af;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
  display: inline-block;
  margin-right: 10px;
}

.recent-listing .item .right-content span.price .icon img {
  max-width: 16px;
  text-align: center;
  display: inline-block;
}

.recent-listing .item .right-content span.details {
  display: block;
  margin-bottom: 15px;
  font-size: 15px;
  color: #8d99af;
}

.recent-listing .item .right-content span.details em {
  font-style: normal;
  color: #2a2a2a;
}

.recent-listing .item .right-content ul.info li {
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 30px;
  width: 100%;
}

.recent-listing .item .right-content ul.info li:last-child {
  margin-bottom: 0px;
}

.recent-listing .item .right-content ul.info li img {
  max-width: 30px;
  margin-right: 15px;
  display: inline;
}

.recent-listing .item .right-content .main-white-button {
  position: absolute;
  right: 60px;
  bottom: 60px;
}

.recent-listing .owl-dots {
  margin-top: 15px;
  text-align: center;
}

.recent-listing .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  background-color: #8d99af;
  border-radius: 50%;
  margin: 0px 5px;
  transition: all .3s;
}

.recent-listing .owl-dots .active {
  width: 14px;
  height: 14px;
}

.section-heading {
    position: relative;
    padding-bottom: 8px;
    padding-top: 5rem;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 1.25rem;
    color: #000000;
    border-bottom: 2px solid #c7c7c7;
}