.chat-page-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  height: 100%;
  padding-bottom: 1rem;
  box-sizing: border-box;
  padding: 2rem 0;
}

.chat-sidebar {
  width: 280px;
  height: auto;
  flex-shrink: 0;
  background-color: #f8f9fa;
  border-radius: 8px;
  overflow-y: auto;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
min-height: 800px;
}

.chat-main {
  flex: 0 0 700px;
  display: flex;
  flex-direction: column;
}

.chat-placeholder {
  font-size: 1.1rem;
  color: #6c757d;
  text-align: center;
  padding: 20px;
}

@media (max-width: 992px) {
    .page-heading {
    min-height: 330px;
  }

  .chat-page-container {
    flex-direction: column;
    padding: 0;
    align-items: center;
  }

  .chat-sidebar {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  .chat-main {
    width: 100%;
    max-width: 550px;
  }

  .chat-page-container.chat-list-view .chat-main {
    display: none;
  }

  .chat-page-container.chat-active .chat-sidebar {
    display: none;
  }
}
