.main-banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(/assets/images/banner-bg.jpg);
  padding: 290px 0px 180px 0px;
  position: relative;
  overflow: hidden;
}

.main-banner .top-text {
  text-align: center;
}

.main-banner .top-text h6 {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-banner .top-text h2 {
  color: #fff;
  font-size: 45px;
  font-weight: 800;
  text-transform: capitalize;
  margin-top: 15px;
  margin-bottom: 45px;
}

.main-banner ul.categories {
  width: 100%;
  margin-top: 60px;
  text-align: center;
}

.main-banner ul.categories li {
  display: inline-block;
  text-align: center;
  width: 18%;
}

.main-banner ul.categories li a {
  color: #fff;
  text-align: center;
  font-size: 15px;
  margin-top: 15px;
}

.main-banner ul.categories li .icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;
  margin: 0 auto 14px auto;

  border-radius: 50%;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow:
    0 3px 8px rgba(0, 0, 0, 0.08),
    inset 0 1px 2px rgba(255, 255, 255, 0.4);

  color: #2a2a2a;
  transition: all 0.3s ease;
  cursor: pointer;
}

.main-banner ul.categories li .icon:hover {
  transform: translateY(-4px) scale(1.05);
  box-shadow:
    0 6px 14px rgba(0, 0, 0, 0.15),
    inset 0 1px 3px rgba(255, 255, 255, 0.5);
  background: linear-gradient(145deg, #f9f9f9, #eaeaea);
}

.main-banner ul.categories li .icon img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  filter: grayscale(20%) brightness(1);
  transition: all 0.3s ease;
}

.main-banner ul.categories li .icon:hover img {
  filter: grayscale(0%) brightness(1.2);
}

form#search-form {
  background-color: #fff;
  padding: 0px 0px 0px 30px;
  width: 100%;
  border-radius: 7px;
  display: inline-block;
  text-align: center;
}

form#search-form select,
form#search-form input {
  width: 100%;
  height: 36px;
  background-color: transparent;
  border: none;
  color: #2a2a2a;
  font-size: 15px;
  outline: none;
}

.form-select:focus {
  box-shadow: none;
}

form#search-form input.searchText {
  border-left: 1px solid #8d99af;
  border-right: 1px solid #8d99af;
  padding: 0px 30px;
}

form#search-form select.searchSelect {
  border-left: 1px solid #8d99af;
  border-right: 1px solid #8d99af;
  padding: 0px 30px;
  border-radius: 0
}

form#search-form input::placeholder {
  color: #2a2a2a;
  font-size: 15px;
}

form#search-form button {
  width: 100%;
  height: 100%;
  background-color: #8d99af;
  border: none;
  padding: 15px;
  color: #fff;
  font-size: 15px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

form#search-form button i {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  color: #8d99af;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  margin-right: 10px;
}
