.contact-page {
  margin: 120px 0px;
}

.contact-page .inner-content {
  background-color: #f7f7f7;
  border-radius: 7px;
  overflow: hidden;
}

.contact-page .inner-content #map {
  margin-bottom: -8px;
  overflow: hidden;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

form#contact {
  position: relative;
  margin: 0px 60px 0px 45px;
}

form#contact input {
  width: 100%;
  height: 46px;
  border-radius: 7px;
  background-color: transparent;
  border: 1px solid #8d99af;
  outline: none;
  font-size: 15px;
  font-weight: 300;
  color: #8d99af;
  padding: 0px 15px;
  margin-bottom: 30px;
}

form#contact ul li {
  display: inline-block;
  margin-right: 30px;
}

form#contact ul li:last-child {
  margin-right: 0px;
}

form#contact input[type=checkbox] {
  display: inline-block;
  width: 15px;
  min-width: 15px;
  height: 15px;
  background-color: transparent;
  border: 1px solid #8d99af;
  outline: none;
  cursor: pointer;
}

form#contact span {
  color: #8d99af;
  font-size: 14px;
  font-weight: 500;
  margin-left: 8px;
}

form#contact input::placeholder {
  color: #8d99af;
  font-weight: 500;
}

form#contact textarea {
  margin-top: 10px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  max-height: 180px;
  min-height: 140px;
  height: 140px;
  border-radius: 7px;
  background-color: transparent;
  border: 1px solid #8d99af;
  outline: none;
  font-size: 15px;
  font-weight: 300;
  color: #8d99af;
  padding: 15px;
  margin-bottom: 30px;
}

form#contact textarea::placeholder {
  color: #8d99af;
  font-weight: 500;
}

form#contact button {
  margin-bottom: -15px;
  display: inline-block;
  background-color: #8d99af;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 7px;
  letter-spacing: 0.25px;
  border: none;
  outline: none;
  transition: all .3s;
}

form#contact button i {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  background-color: #2b2d42;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
}

form#contact button:hover {
  background-color: #2b2d42;
  color: #fff;
}